.col-md-12
	%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi voluptates nostrum voluptas voluptatum tempore, eveniet corrupti alias numquam corporis exercitationem perspiciatis natus explicabo ipsa, sit impedit, eum voluptatem? Repudiandae, totam!